# Vivado transient state and generated products
.Xil/
/.srcs/
*.jou
*.log
*.dcp
*.bda
*.ui

Vivado_CtrlSysV4/*.cache/
Vivado_CtrlSysV4/*.gen/
Vivado_CtrlSysV4/*.hw/
Vivado_CtrlSysV4/*.ip_user_files/
Vivado_CtrlSysV4/*.runs/
Vivado_CtrlSysV4/*.sim/
Vivado_CtrlSysV4/*.srcs/utils_1/
Vivado_CtrlSysV4/*.srcs/sources_1/bd/*/ip/

# Generated deployment artifacts
/build/

# Tool diagnostics
/dfx_runtime.txt
/retry_open_fs.log
